---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/random?api_key=<GIPHY_API_KEY>&key=<GIPHY_API_KEY>&q=Cheeseburger
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '39.704722222222'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '995'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"xUNd9Z61xv4WBwkmL6","slug":"splat-nicksplat-rockos-modern-life-xUNd9Z61xv4WBwkmL6","url":"https:\/\/giphy.com\/gifs\/splat-nicksplat-rockos-modern-life-xUNd9Z61xv4WBwkmL6","bitly_gif_url":"https:\/\/gph.is\/2iASeMn","bitly_url":"https:\/\/gph.is\/2iASeMn","embed_url":"https:\/\/giphy.com\/embed\/xUNd9Z61xv4WBwkmL6","username":"nicksplat","source":"nicksplat.com","content_url":"","source_tld":"","source_post_url":"nicksplat.com","is_sticker":0,"import_datetime":"2017-11-06
        23:48:50","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media3.giphy.com\/avatars\/nicksplat\/HZP0C4lnqnnB.jpg","banner_url":"https:\/\/media3.giphy.com\/headers\/nicksplat\/RO63bVtkycy6.jpg","banner_image":"https:\/\/media3.giphy.com\/headers\/nicksplat\/RO63bVtkycy6.jpg","profile_url":"https:\/\/giphy.com\/nicksplat\/","username":"nicksplat","display_name":"NickSplat","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200_s.gif","width":"266","height":"200","size":"34151"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy_s.gif","width":"480","height":"360","size":"93347"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200w.gif","width":"200","height":"150","size":"519614","mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200w.mp4","mp4_size":"101257","webp":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200w.webp","webp_size":"313098"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100_s.gif","width":"133","height":"100","size":"10181"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200_d.gif","width":"266","height":"200","size":"193990","webp":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200_d.webp","webp_size":"84700"},"preview":{"width":"250","height":"188","mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy-preview.mp4","mp4_size":"44831"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100.gif","width":"133","height":"100","size":"223519","mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100.mp4","mp4_size":"50899","webp":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100.webp","webp_size":"158134"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy-downsized_s.gif","width":"250","height":"187","size":"26109"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy-downsized.gif","width":"250","height":"187","size":"651821"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.gif","width":"480","height":"360","size":"2605371"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100w_s.gif","width":"100","height":"75","size":"6688"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy-preview.webp","width":"143","height":"107","size":"47458"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200w_s.gif","width":"200","height":"150","size":"21287"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100w.gif","width":"100","height":"75","size":"133139","mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100w.mp4","mp4_size":"30835","webp":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100w.webp","webp_size":"102104"},"downsized_small":{"width":"336","height":"252","mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy-downsized-small.mp4","mp4_size":"124914"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200w_d.gif","width":"200","height":"150","size":"117948","webp":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200w_d.webp","webp_size":"54356"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.gif","width":"480","height":"360","size":"2605371"},"original":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.gif","width":"480","height":"360","size":"2605371","frames":"35","mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.mp4","mp4_size":"400790","webp":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.webp","webp_size":"1129096","hash":"21fefbffb06dfcbacaa78d5fe2fbce9a"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200.gif","width":"266","height":"200","size":"875511","mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200.mp4","mp4_size":"160574","webp":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200.webp","webp_size":"484288"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy-loop.mp4","mp4_size":"2466452"},"original_mp4":{"width":"480","height":"360","mp4":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.mp4","mp4_size":"400790"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy-preview.gif","width":"127","height":"95","size":"49911"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/480w_s.jpg","width":"480","height":"360"}},"title":"rockos
        modern life nicksplat GIF","image_original_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.gif","image_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.gif","image_mp4_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/giphy.mp4","image_frames":"35","image_width":"480","image_height":"360","fixed_height_downsampled_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200_d.gif","fixed_height_downsampled_width":"266","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"150","fixed_height_small_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100.gif","fixed_height_small_still_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100_s.gif","fixed_height_small_width":"133","fixed_height_small_height":"100","fixed_width_small_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100w.gif","fixed_width_small_still_url":"https:\/\/media2.giphy.com\/media\/xUNd9Z61xv4WBwkmL6\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"75","caption":""},"meta":{"status":200,"msg":"OK","response_id":"5c2fb71937742f4a413e5c7a"}}'
  recorded_at: Fri, 04 Jan 2019 19:42:15 GMT
recorded_with: VCR 4.0.0
